{% extends 'base.html' %}
{% block title %} Create Post {% endblock %}
  {% block content %}
    <h1 class="text-center my-3 bg-light p-3">Create Task</h1>
    
    <div class="container">
      <form action="{% url 'post_update' post.pk %}" method="POST">
        {% csrf_token %}
        <label for="">Title</label>
        <input type="text" name="title" class="form-control" placeholder="Enter Title" value="{{post.title}}"/>
        {{ form.title.errors }}
        <label for="">Content</label>
        <textarea name="content" id="" rows="3" class="form-control">{{post.content}}</textarea>
        {{ form.content.errors }}
        <button class="btn btn-primary my-3" type="submit">Save</button>
      </form>
    </div>
  {% endblock %}